<% if can? :read, @professionals %>
    <div class="card-body">
        <h5 class="card-title">Bienvenido/a!</h5>
        <p class="card-text">En esta aplicación podrás gestionar el policonsultorio</p>
        <a href="/professionals" class="btn btn-mini btn-outline-dark">Ir</a>
    </div>
<% end %>